<div class="container">
	<div class="row">
		<div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
    	 <div class="well profile">
            <div class="col-sm-12">
                <div class="col-xs-12 col-sm-8">
                    <h2><%= @user.name %></h2>
                    <p><strong>Phone: </strong> <%= @user.phone %> </p>
                    <p><strong>Address: </strong> <%= @user.address %> </p>
                </div>             
                <div class="col-xs-12 col-sm-4 text-center">
                    <%= link_to 'Update profile', edit_user_path(@user), class: "btn btn-info btn-block"%>
                    <%= link_to 'Orders', orders_path, class: "btn btn-info btn-block"%>
                </div>
            </div>            
            <div class="col-xs-12 divider text-center">
                <div class="col-xs-12 col-sm-4 emphasis">
                    <h2><strong> <%= @user.orders.count %> </strong></h2>                 
                    <p><small>Orders</small></p>
                </div>
                <div class="col-xs-12 col-sm-4 emphasis">
                    <h2><strong>2300</strong></h2>                    
                    <p><small>Spend money</small></p>
                </div>
                <div class="col-xs-12 col-sm-4 emphasis">
                    <h2><strong>21</strong></h2>                    
                    <p><small>Dish try</small></p>
                </div>
            </div>
    	 </div>                 
		</div>
	</div>
</div>