<tr>
	<td><%= order.id %></td>
	<td><%= order.order_items.last.item.place.name %></td>
	<td><%= order.total %></td>
	<td>New</td>
	<td class="text-center">
		<%= link_to order_path(order), class: "btn btn-success btn-xs" do %>
		<span class="glyphicon glyphicon-eye-open"></span> Show
		<% end %>
		<%= link_to root_path, class: "btn btn-info btn-xs" do %>
		<span class="glyphicon glyphicon-edit"></span> Edit
		<% end %>
		<%= link_to order_path(order), method: :delete, class: "btn btn-danger btn-xs" do %>
		<span class="glyphicon glyphicon-remove"></span> Delete
		<% end %>
	</td>
</tr>