<div class="container">
    <div class="row col-md-6 col-md-offset-2 custyle">
    <table class="table table-striped custab">
    <thead>
        <h3>My orders:</h3>
        <tr>
            <th>ID</th>
            <th>From</th>
            <th>Total</th>
            <th>Status</th>
            <th class="text-center">Action</th>
        </tr>
    </thead>
        <%= render @orders %>
    </table>
    </div>
</div>

