<div class="panel panel-info">
	<div class="panel-heading">
		<div class="panel-title">
			<div class="row">
				<div class="col-xs-12">
					<h5><span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart for <%= @place.name %></h5>
				</div>
			</div>
		</div>
	</div>

	<% total = 0 %>
	<% user_session.each do |place, items| %>
	<% next if place != @place.id.to_s %>
	<% items.each do |item, count| %>
	<% item = Item.find(item)%>
	<% total += item.price * count.to_f %>
	<%= render 'cart_items/cart_item', item: item, count: count %>
	<% end %>
	<% end %>	

	<div class="panel-footer">
		<div class="row text-center">
			<div class="col-xs-6">
				<h4 class="text-right">Total <strong><%= total %></strong></h4>
			</div>
			<div class="col-xs-6">
				<%= link_to 'Clear', cart_clear_path(place: @place), method: :post, class: 'btn btn-danger' %>
				<%= link_to 'Checkout', orders_path(place: @place, total: total), method: :post, class: 'btn btn-success' %>
			</div>
		</div>
	</div>

</div>