<div class="panel-body">
	<div class="row" id="<%= "cart-item-" + item.id.to_s %>">
		<div class="col-md-5">
			<h4 class="product-name"><strong><%= item.name %></strong></h4>
		</div>
		<div class="col-md-7">
			<div class="col-md-9 text-right">
				<h5>
					<strong>
						<%= link_to cart_minus_path(place: item.place, item: item), method: :post do %>
						<i class="glyphicon glyphicon-minus"></i>
						<% end %>
						<%= item.price %> х <%= count %>
						<%= link_to cart_plus_path(place: item.place, item: item), method: :post do %>
						<i class="glyphicon glyphicon-plus"></i>
						<% end %>
					</strong>
				</h5>
			</div>
			<div class="col-md-3">
				<h5>
					<strong>					
						<%= link_to cart_remove_path(place: item.place, item: item), method: :post do %>
						<i class="glyphicon glyphicon-trash"></i>
						<% end %>
					</strong>
				</h5>
			</div>
		</div>
	</div>
</div>