<div class="panel panel-default  panel--styled">
	<div class="panel-body">
		<div class="col-md-12 panelTop">
			<div class="col-md-4">  
				<img class="img-responsive" src="http://placehold.it/350x350" alt=""/>
			</div>
			<div class="col-md-8">  
				<h2><%= item.name %></h2>
				<p><%= item.about %></p>
			</div>
		</div>

		<div class="col-md-12 panelBottom">            
			<div class="col-md-4 text-left">
				<h4>Цена: <span class="itemPrice"> <%= item.price %> сом</span></h4>
			</div>
			<%= link_to 'Add to cart', cart_add_path(place: item.place, item: item, count: 1), method: :post, class: 'btn btn-add-to-cart', id: "item-#{item.id}"%>
		</div>
	</div>
</div>