<div class="panel panel-default  panel--styled">
  <div class="panel-body">
    <div class="col-md-12 panelTop">  
      <div class="col-md-4"> 
        <%= image_tag place.image.url, class: 'img-responsive', size: '350x350' %>
      </div>
      <div class="col-md-8">  
      <h2><%= place.name %></h2>
        <p><%= place.about %></p>
      </div>
    </div>

    <div class="col-md-12 panelBottom">
      <div class="col-md-4 text-center">
        <% if action_name == "show" %>
          <%= link_to places_path, class: "btn btn-lg btn-add-to-cart" do %>
          <i class="glyphicon glyphicon-arrow-left"></i> Назад
          <% end %>
        <% else %>
          <%= link_to place, class: "btn btn-lg btn-add-to-cart" do %>
          <i class="glyphicon glyphicon-shopping-cart"></i> Меню
          <% end %>
        <% end %>        
      </div>
      <div class="col-md-4 text-right">
        <h4>Количество блюд: <span class="itemPrice"><%= place.items.count %></span></h4>
      </div>
    </div>
  </div>
</div>