<div class="row">
	<div class="col-md-8">        
		<%= render @place %>
		<%= render @place.items %>
	</div>
	<div class="col-md-4">
		<%= render 'carts/cart', place: @place if user_signed_in? %>
	</div>
</div>